/* Custom Styles */

#navbar-toggler-icon {
  outline: 0;
}

#CollapsingNav {
  -webkit-transition: width 2s ease;
  -moz-transition: width 2s ease;
  -o-transition: width 2s ease;
  transition: width 2s ease;
  
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 30px;
  height: 30px;

  width: 0px;
}
#CollapsingNav.in {
  width: 220px;
}